<div class="container" *ngIf="!assignmentDisplay">
  <app-cockpit
    (srvCreated)="onServerAdded($event)"
    (bpCreated)="onBlurprintAdded($event)"
  ></app-cockpit>
  <hr />
  <div class="row">
    <div class="col-12">
      <app-server-element *ngFor="let serverElement of serverElements">
        <p>
          <strong *ngIf="serverElement.type === 'server'">{{
            serverElement.content
          }}</strong>
          <em *ngIf="serverElement.type === 'blueprint'">{{
            serverElement.content
          }}</em>
        </p>
      </app-server-element>
    </div>
  </div>
</div>
<div class="btn btn-danger" (click)="showAssignment()">
  {{ !assignmentDisplay ? "show" : "hide" }} assignment
</div>
<div class="container" *ngIf="assignmentDisplay">
  <!-- module-assignment -->
  <app-assignment></app-assignment>
</div>
